*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../imagenes/teclado-iluminado.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 45%;
}

.logo {
    position: absolute;
    top:  5px;
    right: 5px;
}

.nombre {
    color: white;
}

.titulo {
    color: white;
    font-size: 45px;
    padding-top: 60px;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    color: rgb(248, 255, 155);
    font-family: 'Liberation Serif', sans-serif;
    font-size: 20;
}

h1{
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
}

h2{
    color: rgb(21, 231, 231);
}

p, li {
    color: rgb(248, 255, 155);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
}

label, span {
    color: rgb(227, 216, 216);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

div {
    margin: 15px;
    padding: 10px;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #540f86;
    margin-top: 150px;
    padding: 3px;
    margin: auto;
    width: 800px;
    margin-top: 85px;
}

.input_cont {
    background: rgb(29, 218, 224);
    font-size: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 5px;
    border: 30px solid rgb(29, 218, 224);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] 
{
    background: rgb(245, 245, 245);
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border: 1px solid #aaa;
}


input[type="number"]::-webkit-inner-spin-button{ 
    -webkit-appearance: none; 
    margin: 0; 
}

.datos {
    font-family: 'Liberation Serif', sans-serif;
    color: white
}

span {
    font-size: 30px;
}

.boton{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover{
    background: rgb(220, 15, 70);
}

input {
    margin-bottom: 10px;
    border: 1px solid #aaa;
}

.robot {
    color: rgb(238, 255, 0);
}

.caja_robot {
    background: rgb(146, 6, 6);
    font-size: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 5px;
    border: 30px solid rgb(146, 6, 6);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}